<!DOCTYPE html>

<html data-ng-app="angularApplication">
<head lang="ko">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

	<link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/sandstone/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="//rawgit.com/eu81273/angular.panels/master/dist/angular.panels.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/prism.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/main.css" rel="stylesheet" type="text/css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script src="//rawgit.com/eu81273/angular.panels/master/dist/angular.panels.min.js"></script>
	<script src="javascripts/prism.min.js"></script>
	<script src="javascripts/main.js"></script>

	<title>Angular.panels by eu81273</title>
</head>

<body data-ng-controller="defaultController">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="" data-ng-click="menuOpen()"><i class="fa fa-bars"></i> Emotional Programming</a>
			</div>

			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li><a href="#example"><i class="fa fa-play-circle"></i> Example</a></li>
				<li><a href="#quickstart"><i class="fa fa-bolt"></i>Quick start</a></li>
				<li><a href="#compatibility"><i class="fa fa-cog"></i> Compatibility</a></li>
			</ul>
		</div>
	</nav>

	<section class="title-section container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-center">
					<h1>angular.panels</h1>
					<p>Pure AngularJS based Side Panels.</p>
					<p><a href="https://github.com/eu81273/angular.panels"><button class="btn btn-transparent"><i class="fa fa-github"></i> Fork on GitHub</button></a></p>
				</div>
			</div>
		</div>
	</section>



	<section class="content-section container-fluid" id="example">
		<div class="container">
			<div class="row">
				<h2><i class="fa fa-play-circle"></i> Example</h2>

				<p>Type any message you want to show on the panel in the input box below, and press the button "LEFT OPEN".</p>

				<div class="form-group">
					<input class="form-control input-lg" type="text" data-ng-model="message" placeholder="Message for panels..">
				</div>

				<div class="btn-group btn-group-justified">
					<a href="" data-ng-click="leftOpen()" class="btn btn-default">Left Open</a>
					<a href="" data-ng-click="rightOpen()" class="btn btn-default">Right Open</a>
					<a href="" data-ng-click="topOpen()" class="btn btn-default">Top Open</a>
					<a href="" data-ng-click="bottomOpen()" class="btn btn-default">Bottom Open</a>
				</div>
			</div>
		</div>
	</section>


	<section class="content-section container-fluid" id="quickstart">
		<div class="container">
			<div class="row">
				<h2><i class="fa fa-bolt"></i> Quic start</h2>

				<p>Copy the script and css into your project and add a script and link tag to your page.</p>
				<pre><code data-ng-non-bindable class="language-markup">&lt;script type=&quot;text/javascript&quot; src=&quot;angular.panels.js&quot;&gt;&lt;/script&gt;
&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;angular.panels.css&quot;&gt;</code></pre>

				<br/><br/>
				<p>And add panels container tag to your application.</p>
				<pre><code data-ng-non-bindable class="language-markup">&lt;div data-panels=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>

				<br/><br/>
				<p>Add a dependency to your application module and configure panel settings.</p>
				<pre><code data-ng-non-bindable class="language-javascript">var app = angular.module('myApp', ['angular.panels']);

app.config(['panelsProvider', function (panelsProvider) {

    panelsProvider
        .add({
            id: 'testmenu',
            position: 'right',
            size: '700px',
            templateUrl: '../resources/template/testmenu.html',
            controller: 'testmenuCtrl'
        })
        .add({
            id: 'testpanel',
            position: 'right',
            size: '80%',
            templateUrl: '../resources/template/testpanel.html',
            controller: 'testpanelCtrl',
            closeCallbackFunction: 'testpanelClose'
        });
}]);</code></pre>



				<br/><br/>
				<p>each panel's attributes are..</p>
				<dl class="">
					<dt><label class="label label-default">id</label></dt><dd>panel's unique id.</dd>
					<dt><label class="label label-default">position</label></dt><dd>the side panel slides from top/right/bottom/left.</dd>
					<dt><label class="label label-default">size</label></dt><dd>panel's height or width. unit(px,em,%..) is required.</dd>
					<dt><label class="label label-default">templateUrl</label></dt><dd>panel template url.</dd>
					<dt><label class="label label-default">controller</label></dt><dd>panel's controller name.</dd>
					<dt><label class="label label-default">openCallbackFunction</label></dt><dd>panel open callback.</dd>
					<dt><label class="label label-default">closeCallbackFunction</label></dt><dd>panel close callback.</dd>
				</dl>

				<br/><br/>
				<p>To open the panel, inject panels service to your app then call the service method like below.</p>
				<pre><code data-ng-non-bindable class="language-javascript">var app = angular.module('myApp', ['angular.panels']);

app.config(['panelsProvider', function (panelsProvider) {

    panelsProvider
        .add({
            id: 'testmenu',
            position: 'right',
            size: '700px',
            templateUrl: '../resources/template/testmenu.html',
            controller: 'testmenuCtrl'
        });
}]);

app.controller('defaultController', function($scope, panels) {

    //open testmenu panel
    panels.open('testmenu');
});


app.controller('testmenuCtrl', function($scope) {

    //left panel controller

});</code></pre>

				<br/><br/>
				<p>It's <strong>all</strong>. Full source of the demo is below.</p>



				<br /><br /><br /><br />
				<p>index.html</p>
				<pre><code data-ng-non-bindable class="language-markup">&lt;!DOCTYPE html&gt;

&lt;html data-ng-app=&quot;angularApplication&quot;&gt;
&lt;head lang=&quot;ko&quot;&gt;
	&lt;meta charset=&quot;utf-8&quot;&gt;
	&lt;link href=&quot;//rawgit.com/eu81273/angular.panels/master/dist/angular.panels.min.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;

	&lt;script src=&quot;//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;//rawgit.com/eu81273/angular.panels/master/dist/angular.panels.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body data-ng-controller=&quot;defaultController&quot;&gt;

	&lt;div class=&quot;container-fluid content-section&quot;&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;h2&gt;&lt;i class=&quot;fa fa-play-circle&quot;&gt;&lt;/i&gt; Example&lt;/h2&gt;

				&lt;p&gt;Type any message you want to show on the panel in the input box below, and press the button &quot;LEFT OPEN&quot;.&lt;/p&gt;

				&lt;div class=&quot;form-group&quot;&gt;
					&lt;input class=&quot;form-control input-lg&quot; type=&quot;text&quot; data-ng-model=&quot;message&quot; placeholder=&quot;Message for panels..&quot;&gt;
				&lt;/div&gt;

				&lt;div class=&quot;btn-group btn-group-justified&quot;&gt;
					&lt;a href=&quot;&quot; data-ng-click=&quot;leftOpen()&quot; class=&quot;btn btn-default&quot;&gt;Left Open&lt;/a&gt;
					&lt;a href=&quot;&quot; data-ng-click=&quot;rightOpen()&quot; class=&quot;btn btn-default&quot;&gt;Right Open&lt;/a&gt;
					&lt;a href=&quot;&quot; data-ng-click=&quot;topOpen()&quot; class=&quot;btn btn-default&quot;&gt;Top Open&lt;/a&gt;
					&lt;a href=&quot;&quot; data-ng-click=&quot;bottomOpen()&quot; class=&quot;btn btn-default&quot;&gt;Bottom Open&lt;/a&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div data-panels=&quot;true&quot;&gt;&lt;/div&gt;

	&lt;script&gt;

		var app = angular.module('angularApplication', ['angular.panels']);

		//add panels
		app.config(['panelsProvider', function (panelsProvider) {

		    panelsProvider
		        .add({
		            id: 'test01',
		            position: 'left',
		            size: '700px',
		            templateUrl: '../resources/template/left.html',
		            controller: 'leftCtrl'
		        })
		        .add({
		            id: 'test02',
		            position: 'right',
		            size: '50%',
		            templateUrl: '../resources/template/right.html',
		            controller: 'rightCtrl'
		        })
		        .add({
		            id: 'test03',
		            position: 'top',
		            size: '20%',
		            templateUrl: '../resources/template/top.html',
		            controller: 'topCtrl'
		        })
		        .add({
		            id: 'test04',
		            position: 'bottom',
		            size: '80%',
		            templateUrl: '../resources/template/bottom.html',
		            controller: 'testpanelCtrl',
		            closeCallbackFunction: 'bottomClose'
		        });
		}]);

		//default controller
		app.controller('defaultController', ['$scope', 'panels', function ($scope, panels) {

			$scope.leftOpen = function () {
				$scope.$broadcast('leftHello', {message : $scope.message});
			};

			$scope.rightOpen = function () {
				$scope.$broadcast('rightHello', {message : $scope.message});
			};

			$scope.topOpen = function () {
				$scope.$broadcast('topHello', {message : $scope.message});
			};

			$scope.bottomOpen = function () {
				$scope.$broadcast('bottomHello', {message : $scope.message});
			};

		}]);

		//left panel controller
		app.controller('leftCtrl', ['$scope', 'panels', function ($scope, panels) {

			$scope.$on('leftHello', function(event, args) {

				$scope.message = args.message;

				panels.open("test01");
			});
		}]);


		//right panel controller
		app.controller('rightCtrl', ['$scope', 'panels', function ($scope, panels) {

			$scope.$on('rightHello', function(event, args) {

				$scope.message = args.message;

				panels.open("test02");
			});
		}]);


		//top panel controller
		app.controller('topCtrl', ['$scope', 'panels', function ($scope, panels) {

			$scope.$on('topHello', function(event, args) {

				$scope.message = args.message;

				panels.open("test03");
			});
		}]);


		//bottom panel controller
		app.controller('bottomCtrl', ['$scope', 'panels', function ($scope, panels) {

			$scope.$on('bottomHello', function(event, args) {

				$scope.message = args.message;

				panels.open("test04");
			});

			//close callback
			$scope.bottomClose = function () {

				window.alert('Close Callback!!');
			};
		}]);

	&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

				<br />
				<p>left.html</p>
				<pre><code data-ng-non-bindable class="language-markup">&lt;div class=&quot;pane-head&quot;&gt;
	&lt;button type=&quot;button&quot; class=&quot;close&quot; data-ng-click=&quot;panels.close();&quot;&gt;&times;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;pane-body&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;h3&gt;Left Panel&lt;/h3&gt;
	&lt;/div&gt;
	&lt;div class=&quot;row&quot;&gt;{{message}}&lt;/div&gt;
&lt;/div&gt;</code></pre>

			</div>
		</div>
	</section>



	<section class="content-section container-fluid" id="compatibility">
		<div class="container">
			<div class="row">
				<h2><i class="fa fa-cog"></i> Compatibility</h2>

				<p>IE9+, Chrome, Safari.</p>
			</div>
		</div>
	</section>



	<section class="content-section container-fluid">
		<div class="container">
			<div class="row">
				<h2><i class="fa fa-github"></i> Fork on GitHub</h2>

				<p>You can fork this on <a href="https://github.com/eu81273/angular.panels">GitHub</a>.</p>
			</div>
		</div>
	</section>


	<section class="content-section container-fluid">
		<div class="container">
			<div class="row">
				<h2><i class="fa fa-book"></i> License</h2>

				<p>The MIT License.</p>
				<p class="text-info">Copyright ⓒ 2015 AHN JAE-HA.</p>
			</div>
		</div>
	</section>

	<div data-panels="true"></div>
</body>
</html>
