<div class="pane-head">
	<button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>

<div class="pane-body">
	<div class="row">
		<h2>My Open Sources</h2>

		<br /><br />

		<h4>angular.treeview</h4>
		<p>Pure AngularJS based tree menu directive</p>
		<a href="https://github.com/eu81273/angular.treeview" class="btn btn-info btn-xs"><i class="fa fa-github"></i> GitHub</a>

		<br /><br />

		<h4>angular.snackbar</h4>
		<p>Pure AngularJS based Material Design Snackbars</p>
		<a href="https://github.com/eu81273/angular.snackbar" class="btn btn-info btn-xs"><i class="fa fa-github"></i> GitHub</a>

		<br /><br />

		<h4>angular.panels</h4>
		<p>Pure AngularJS based lightweight Side Panels</p>
		<a href="https://github.com/eu81273/angular.panels" class="btn btn-info btn-xs"><i class="fa fa-github"></i> GitHub</a>

		<br /><br />

		<h4>vimeo.event.tracker</h4>
		<p>Vimeo Event Tracker (Flash/Universal embed supported)</p>
		<a href="https://github.com/eu81273/vimeo.event.tracker" class="btn btn-info btn-xs"><i class="fa fa-github"></i> GitHub</a>

		<br />

	</div>
</div>
